@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FCDA4E;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;
}

.web-bot{
    position: absolute;
    right: 5%;
    bottom: 10%;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.wrapper{
    width: 360px;
    height: 760px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.wrap{
    width: 100%; 
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle; 
}
.wrap > .mocup-moblie{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: -1;
    width: 600px;
    height: 1000px;
    background-size: 380px 780px;
    background: url(../asset/img/contents/20.png) no-repeat center center;
    display: inline-block;
}
.cojam-pay-donation{
    position: relative;
    width: 100%; 
    height: 100%; 
    border-radius: 46px; 
    box-shadow: 6px 12px 20px rgba(47, 32, 0, 0.066);
    overflow: hidden;
}
.cojam-pay-donation{background-color: #060A10;}

ul{list-style: none;}
li, a, span{text-decoration: none;}
li, a, p, span, h1, h2, h3, h4, h5{color: rgb(0, 0, 0); font-family: 'Noto Sans KR', sans-serif;}

/* white page setting */
.top-bar-btn{width: 100%; padding: 0 8%;}
.payTop-bar{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
.payTop-bar > ul{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.payTop-bar > ul > li:nth-child(1)::before{
    content: " ";
    background: url(../asset/img/icon/backarrow-white-icon.svg) no-repeat center center;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.payTop-bar > ul > li:nth-child(2){margin-right: 42px;}

.btn-gift{
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 22px; 
    background-color: #FCEC4E;
}
.btn-gift > a{
    font-size: 13px; 
    font-weight: 700; 
    color:black;
    position: relative;
    top: -2px;
}


.paycontent-container{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 120px;
    border-radius: 0 0 8px 8px;
}
.paycontent-inner{
    width: 100%;
    height: 100vh;
    padding: 0 30px;
    background-color: white;
    border-radius: 8px;
}

.tabmenu > ul{list-style:none;}

.tabmenu{ 
  max-width: 600px; 
  margin: 0 auto; 
  position:relative; 
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabmenu ul{width: 80%;}
.tabmenu ul li{
  display:  inline-block; 
  float: left;  
  text-align: left; 
  margin-right: 14px;
}
.tabmenu label{
  display:block;
  width:100%; 
  height:40px;
}
.tabmenu label span{
    color: black;
    font-size: 24px;
    position: relative;
    z-index: 101;
}
.tabmenu input{display:none;}
.tabCon{
  display: none; 
  text-align: left; 
  position: absolute; 
  left: 0; 
  top: 60px; 
  box-sizing: border-box; 
  color: black;
}
.tabmenu input:checked ~ label{
  font-size: 26px;
  font-weight: 700;;
}
.tabmenu input:checked ~ label::after{
    content:"";
    background-color: #FCEC4E;
    width: 100%;
    height: 12px;
    border-radius: 12px;
    display: inline-block;
    position: relative;
    top: -30px;
}
.tabmenu input:checked ~ .tabCon{
  display:block;
}
.tabmenu > ul > li > .tabCon > .pay-content > img{width: 100%;}

.nation-cont{display: flex; align-items: center; justify-content: space-between;}
.nation-cont > img{margin-top: 20px;}
select {
    margin-top: 20px;
    width: 100px;
    border: none;
    background: url('../asset/img/icon/triangle-black-icon.svg') no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    font-weight: 700;
}
select::-ms-expand {
    display: none;
}

.btn-pop01{
    width: 300px; 
    height: 174px; 
    display: inline-block;
    margin-top: 220px;
    background-color: #FCEC4E;
    border-radius: 12px;
    cursor: pointer;
    z-index: 105;
}
.btn-pop01 > img{margin: 30px 0 0 20px;}
.btn-pop01 > .pay-box-numIcon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0 0 14px;
}
.btn-pop01 > .pay-box-numIcon > span{
    font-size: 24px; 
    font-weight: 700; 
    color: black;
    margin-right: 14px;
}

/* 모달 */
.modal-container{display: none;}
.modal-wrapper{
    z-index: 110;
    position: fixed;
    top: 5%;
    width: 360px;
    height: 760px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-inner{
    width: 300px;
    height: 460px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.main-info{
    width: 100%;
    height: 86%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    animation: fadeIn 1s;
    animation-fill-mode: both;
}

.main-info > .title{font-size: 18px;}
.modal-inner > a > button{
    width: 100%;
    height: 14%;
    background-color: #FFEB00;
    border-radius: 0 0 10px 10px;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

@keyframes fadeIn {
    from { 
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#close > button{cursor: pointer;}