@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FCDA4E;
    position: relative;
    overflow: hidden;
}

.web-bot{
    position: absolute;
    right: 5%;
    bottom: 10%;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.web-bot > img{width: 50%; height: 90%;}
.web-bot > span{margin-left: 14px; font-size:24px; font-weight: 700; color: black;}

.moblie{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wrapper{
    width: 360px;
    height: 760px;
}

.wrap{width: 100%; height: 100%; position: relative;}
.wrap > .mocup-moblie{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: -1;
    width: 600px;
    height: 1000px;
    background-size: 380px 780px;
    background: url(../asset/img/contents/20.png) no-repeat center center;
    display: inline-block;
}
.cojam-donation-black,
.cojam-donation-white{
    position: relative;
    width: 100%; 
    height: 100%; 
    border-radius: 46px; 
    box-shadow: 6px 12px 20px rgba(47, 32, 0, 0.066);
    overflow: hidden;
    background-color: white;
}

ul{list-style: none;}
li, a, span{text-decoration: none;}
li, a, p, span, h1, h2, h3, h4, h5{color: rgb(0, 0, 0); font-family: 'Noto Sans KR', sans-serif;}




/* white page setting */
.top-bar{
    width: 100%; 
    height: 60px;  
    display: flex; 
    align-items: center; 
    padding: 0 8%;
    position: relative;
}
.top-bar-container{width: 100%; height: 30px;}
.top-bar-container > li{display: inline-block; margin-right: 20px;}
.top-bar-container > li:nth-child(1)::after{
    content:"9+";
    background-color: #E83A31;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 7px;
    position: relative;
    top: -5px;
    left: 4px;
    color: white;
}
.top-bar-container > li:nth-child(2),
.top-bar-container > li:nth-child(3){position: absolute; right: 6%;}
.top-bar-container > li:nth-child(2){right: 15%;}

.home-top-kakaologo{width: 100%; padding: 0 8%; position: relative;}
.home-top-kakaologo > img,
.home-top-kakaologo > h2{position: absolute;}
.home-top-kakaologo > h2{
    font-size: 18px; 
    font-weight: 700; 
    top: -6px;
    left: 24%;
}

.live{margin-top: 50px; width: 100%; padding: 0 8%;}
.unicef-box{
    width: 100%; 
    height: 120px; 
    border-radius: 10px; 
    background-color: #EDFAFE;
    margin-top: 40px;
}
.unicef-box > a{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    position: relative;
    top: 22px;
}
.unicef-box > a > span{font-size: 13px; margin-left: 18px;}
.unicef-box > a > .icon-box{
    width: 76px;
    height: 76px; 
    border-radius: 20px; 
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
}


.bot-content{
    width: 100%; 
    height: 100%; 
    background-color: #F3F5F7; 
    margin-top: 30px; 
    position: absolute; 
    top: 330px;
}
.bot-content-inner{width: 100%; height: 100%; padding: 0 8%;}
.bot-content-inner > p{position: relative; top: 14px;}
.bot-content-inner > p > button {
    margin-top: 18px;
    width: 100%;
    height: 44px; 
    border-radius: 10px; 
    background-color: #6649F5;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bot-content-inner > p > button > a{color: white; font-size: 13px; float: left; margin: 0 0 0 5%;}
.bot-content-inner > p > button > img{
    width: 10px;
    height: 10px;
    margin-right: 14px;
}
.bot-content-inner > h2{font-size: 18px; font-weight: 700px; margin: 40px 0 30px 0;}
.bot-content-inner > h2 > span{color: #84878A;}

.leftgroup-rightNFT{
    position: relative;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: white; 
    border-radius: 10px 10px 0 0;
    padding: 0 4%;
    display: flex;
    justify-content: space-between;
}
.leftgroup-rightNFT > .left,
.leftgroup-rightNFT > .right{
    width: 48%; 
    height: 100%; 
    margin-top: 14px;
}
.leftgroup-rightNFT > .left{border-right: 2px solid #F3F5F7;}
.left > a > p,
.right > a > p{font-size: 13px; font-weight: 700;}
.left > a > span,
.right > a > span{font-size: 12px; color: #77797A;}

/* brand modal μ°½ */
.container{
    width: 100%; 
    height: 100%; 
}

.modal > .body{
    width: 100%; 
    height: 100%; 
    background-color: white;
    border-radius: 16px 16px 0 0; 
    margin-top: 40px;
    padding: 0 8%;
}
.brand-close-modal{margin-top: -12px; cursor: pointer;}
.tabmenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px; 
    margin: 0 auto; 
    position:relative; 
    top: 20px;
}
.tabmenu > ul{list-style:none;}
.close-icon{
    cursor: pointer; 
    width: 18px; 
    height: 18px; 
    border: 1px solid white; 
    margin-top: -20px;
}
.tabmenu ul{width: 100%; height: 100%;}
.tabmenu ul li{
  display:  inline-block; 
  float: left;  
  text-align: left; 
  margin-right: 14px;
}
.tabmenu label{
  display: block;
  width: 100%; 
  height: 40px;
}
.tabmenu label span{
    font-size: 13px;
    font-weight: 700;
    position: relative;
    z-index: 101;
    cursor: pointer;
}
.tabmenu input{display:none;}
.tabCon{
    width: 100%;
    height: 100%;
    display: none; 

}
.tabCon{
  display: none; 
  text-align: left; 
  position: absolute; 
  left: 0; 
  top: 50px; 
  box-sizing: border-box; 
  color: black;
}
.tabmenu input:checked ~ label{

}
.tabmenu input:checked ~ label::after{
    content:"";
    border-bottom: 2px solid black;
    width: 100%;
    display: inline-block;
    position: relative;
    top: -18px;
}
.tabmenu input:checked ~ .tabCon{
  display:block;
}

.brand-content{width: 100%;}
.brand-content > figure{
    width: 100%;
    position: relative;
    left: 0px;
    margin: auto;
}
.brand-content > figure > img:nth-child(1){
    width: 100%; 
    position: absolute;
}
.brand-content > figure > img:nth-child(2){
    position: relative; 
    top: 80px; 
    float: right;
    z-index: 98;
}
.tabCon > .brand-content > .brand-list > ul > li > p > span{
    width: 130px;
    font-size: 13px;
    font-weight: 700;
    position: relative;
    float: left;
}


.euent-area{
    width: 120%; 
    height: 100px; 
    background-color: #F1F3F5; 
    border: 2px solid #ECEFF2; 
    position: relative;
    top: 90px;
    left: -10%;
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.euent-area > .box{
    width: 138px;
    height: 94px;
    border: 2px solid #E4E7EA;
    border-radius: 10px;
    background-color: white;
    margin-right: 4px;
}
.euent-area > .box > p{margin-left: 14px;}
.euent-area > .box > p:nth-child(1){
    width: 100px;
    margin-top: 14px; 
    font-size: 10px; 
    color: #B6B6B6; 
    font-family: 'Noto Serif KR', serif;
    padding-bottom: 6px;
    border-bottom: 2px solid #B6B6B6;
}
.euent-area > .box > p:nth-child(2){
    margin-top: 4px; 
    font-size: 13px; 
    color: #77797A; 
}

.brand-list{width: 100%; height: 100%; margin-top: 100px;}

.brand-list > ul > li{
    width: 100%; 
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.brand-list > ul > li > span{font-size: 13px; font-weight: 700;}

/* nth html area */
.head{
    width: 100%; 
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 8%;
    margin-bottom: 20px;
    position: relative;
    top: 10px;
}
.head > h4{position: absolute; top: 16px; left: 48%;}
.pay-paper{margin-left: 8%;}
.paperitems-inner{
    width: 100%; 
    height: 122px; 
    white-space: nowrap; 
    margin-top: 14px;
}
.paper-box{
    width: 120px; 
    height: 120px; 
    border: 2px solid #F1F3F5; 
    border-radius: 10px;  
    display: inline-block;
    margin-right: 14px;
    white-space: nowrap;
}
.paper-box > .paperbox-inner{margin: 10px auto; width: 80%; height: 80%; position: relative;}
.paper-box > .paperbox-inner > .paperbox-top > p{position: absolute; font-size: 12px; font-weight: 700; color: black;}
.paper-box > .paperbox-inner > .paperbox-top > p:nth-child(1){top: 30px;}
.paper-box > .paperbox-inner > .paperbox-top > p:nth-child(2){top: 50px;}
.paper-box > .paperbox-inner > .paperbox-bot > img{width: 24px; height: 24px; position: absolute; right: 0; bottom: 0;}

.nftbox-container{width: 100%; height: 100%; margin-top: 76px;}
.nftbox-container > h4{margin-left: 8%;}
.nftbox-inner{width: 100%; height: 100%; background-color: #F1F3F5; padding: 0 8%; margin-top: 10px;}
.nftbox-inner > ul{
    width: 100%; 
    height: 100%; 
    text-align: center;
}
.nftbox-inner > ul > li{
    width: 142px;
    height: 142px;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    margin-top: 10px;
}
.nftbox-inner > ul > li:nth-child(2n+1){margin-right: 10px;}
/* nft img */
.small-boxnft{
    cursor: pointer;
    width: 100%; 
    height: 100%; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.small-boxnft > .topnft,
.small-boxnft > .topnft> img:nth-child(2){width: 100%; height: 100%;}
.small-boxnft > .topnft,
.small-boxnft > .topnft> img:nth-child(1){position: absolute;}
.small-boxnft > .topnft> img:nth-child(1){top: 10px; left: 10px;}
.small-boxnft > .topnft> img:nth-child(2){border-radius: 10px; opacity: 0.3;}

.small-boxnft:hover .nft-pop{opacity: 1;}
.nft-pop{
    opacity: 0;
    cursor: pointer;
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    transition: all 1s ease-in-out;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nft-pop > .nftpop-inner{
    width: 100%; 
    height: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.nft-pop > .nftpop-inner > .nth-items,
.nft-pop > .nftpop-inner > .nft-overlay{position: absolute;}
.nft-pop >  .nftpop-inner > .nth-items{
    cursor: pointer;
    z-index: 104;
    width: 84%;
    height: 84%;
    background-color: white;
    position: relative;
    border-radius: 13px;
    animation: showPopup 0.75s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes showPopup {
    from { 
        opacity: 0;
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
.nft-pop > .nftpop-inner > .nth-items > img{
    width: 100%; 
    height: 100%; 
    border-radius: 12px; 
    box-shadow: 4px 8px 18px rgba(0,0,0,0.16);
}
.nft-pop >  .nftpop-inner > .nft-overlay{
    position: absolute; 
    width: 100%; 
    height: 100%; 
    border-radius: 8px; 
    background-color: rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s;
    animation-fill-mode: both;
}
@keyframes fadeIn {
    from { 
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* unicef html */
.top-blueDot{width: 100%; height: 32%; padding: 0 8%; margin-top: 30px;}
.blue{font-size: 13px; text-align: center; color: #39A6D9; font-weight: 700; margin: 20px 0;}

.top-blueDot > .top-blueDotCenter > .unicef-people{
    position: relative;
    top: -10px;
}
.top-blueDotCenter{width: 100%; margin:auto; text-align: center;}
.bot-blueDot{
    width: 100%; 
    height: 100%; 
    padding: 0 8%;
    background-color: #F3F5F7;
}
.bot-blueDot-inner{width: 100%; height: 100%;}
.bot-blueDot-inner > p{
    font-size: 11px; 
    font-weight: 500;
    line-height: 20px;
    text-align: center; 
    position: relative; 
    top: 36px;
}
.unicef-whitebg{
    position: relative;
    top: 0;
    margin-top: 80px;
    width: 100%; 
    height: 100%; 
    background-color: white; 
    border-radius: 10px 10px 0 0;
    padding: 0 4%;
    text-align: center;
}
.unicef-whitebg > h2{padding-top: 20px; cursor: pointer;}


/* unicef modal */
.modal-container{
    width: 100%;
    height: 100vh;
}
#modal{
    width: 100%;
    height: 100vh;
    position: absolute; 
    top: 100%;
    background-color: black;
    transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 99;
}
.modal-container.active #modal{top: 0;}
#modal > .header {
    width: 100%;
    height: 60px;
    background-color: #2A2A2A;
    display: flex;
    align-items: center;
    justify-content: center;
}
#modal > .header > h4{
    text-align: center;
    font-size: 13px; 
    font-weight: 700; 
    color: white;
}
#modal > .header > button{
    background-color: #2A2A2A; 
    border: none;
    position: absolute;
    right: 8%;
    padding: 1%;
    cursor: pointer;
}
.brand-area{width: 100%; height: 82px; background-color: #1F2328; padding: 0 8%;}
.brand-area > .brand-area-inner > a > img{position: relative; margin: 14px 0 10px 0;}
.brand-area > .brand-area-inner > p > button{
    background-color: #16181B; 
    height: 28px; 
    border: 2px solid #77797A; 
    border-radius: 6px;
    margin-bottom: 14px;
}
.brand-area > .brand-area-inner > p > button > a{
    color: white; 
    font-size: 12px; 
    padding: 6px 8px; 
}
.brand-area > .brand-area-inner > p > button > a::after{
    content: "";
    background: url(../asset/img/icon/right-arrow-gray-icon.svg) no-repeat center center;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-left: 8px;
}

#modal > .body{width: 100%; height: 100%; padding: 0 8%;}
.body > .info-agress-cont{width: 100%; height: 100%;}
.email-box{width: 100%; height: 70px; background-color: #1F2328; border: 2px solid #202325; border-radius: 12px; margin-top: 14px;}
.email-box > div > span{
    color: #77797A; 
    font-size: 18px; 
    position: relative;
    top: 18px;
    left: 14px;
}
.info-agree{width: 100%; margin-top: 20px;}
h3{font-size: 13px;}
#agreetit{display: flex; align-items: center;}
#agreetit:nth-child(1){margin-bottom: 10px;}
#agreetit > span{color: white; font-size: 13px; margin-left: 10px; display: inline-block;}

.detail-agree-cont{ margin-top: 10px;}
.detail-agree-cont > ul > li{
    color: white; 
    font-size: 10px; 
    margin-left: 12px;
    padding: 1% 0;
    display: flex;
    align-items: center;
    position: relative;
}
.detail-agree-cont > ul > li::before{
    content: " ";
    background: url(../asset/img/icon/check-gray-icon.svg) no-repeat center center;
    width: 20px; 
    height: 20px;
    display: inline-block;
    margin-right: 6px;
}
.detail-agree-cont > ul > li::after{
    content: "μμ„Έν";
    border-bottom: 1px solid #707070;
    font-size: 8px;
    color: #707070;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 0;
}


.chooes-agree-cont{width: 100%; margin-top: 10px;}
.chooes-agree-cont > ul > li > p{color: white; font-size: 13px; margin-bottom: 3px;}
.chooes-agree-cont > ul > li > p::before{
    content: "";
    width: 18px;
    height: 18px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 6px;
    margin-right: 6px;
}
.btn-group{margin-left: 28px;}
.btn-group > button{height: 24px; margin-right: 10px; border: none; background-color: white; border-radius: 12px;}
.btn-group > button > span{color: black; font-size: 12px; padding:0 10px; font-weight: 600;}
.next-btn-container{position: relative; top: 0; width: 100%; height: 56px; margin: 0 auto;}
.next-btn{
    cursor: pointer; 
    background-color: #FCEC4E; 
    width: 100%; 
    height: 100%; 
    border: none; 
    border-radius: 28px;
    margin-top: 14px;
}
.next-btn > a{color: black; font-size: 18px; font-weight: 600;}




#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    border-radius: 10px 10px 0 0; 
    background-color: #ffffff;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
}
.footer-inner{width: 100%; height: 100%; padding: 0 30px;}
.home-top-btn{width: 100%; height: 38px;}
.home-top-btn > h3{text-align: left; margin-right: 20px; float: left; padding: 1% 0;}
.home-top-btn > h3 > a{font-size: 18px;}
.home-top-btn > h3:nth-child(1){border-top: 6px solid black;}
.home-top-btn > h3:nth-child(2),
.home-top-btn > h3:nth-child(3){margin-top: 6px;}
.home-bot-btn{width: 100%; margin-top: 30px;}
.home-bot-btn{width: 100%;}
.home-bot-menu{display: flex; align-items: center; justify-content: center;}
.home-bot-menu > li{ display: inline-block; padding: 2% 6%;}
.home-bot-menu > li > a{text-align: center;}
.home-bot-menu > li > a > p{margin-bottom: 4px;}
.home-bot-menu > li > a > p > span{text-align: center; font-size: 13px; font-weight: 500;}


.modal{
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 100%;
    z-index: 101;
    background-color: black;
    transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
}
.container.brand-open .modal {top: 0;}
